<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>

    <!-- Links -->
    <ul class="navbar-nav" *ngIf='loginData'>
        <li class="nav-item dropdown" *ngFor='let item of loginData.data.menu'>
            <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">{{item.menuName}}</a>
            <div class="dropdown-menu">
                <ul>
                    <li *ngFor='let submenu of item.subMenu'>
                        <a class="dropdown-item">{{submenu.submenuName}}</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>